.header {
    display: flex;
    justify-content: center;
    padding-top: 5px;
}

.box {
    font-weight: bold;
    text-align: center;
    border-style: outset;
    border-width: 13px;
    border-color: rgb(29, 9, 46);
    border-radius: 10px;
    width: 400px;
    height: 610px;  
}

.resultNumber {
    border-bottom: 10px solid rgb(87, 20, 143);
    background: rgb(192, 184, 184);
    text-align: right;
    padding: 10px 5px;
    font-size: 70px;
}

.firstColumn, .secondColumn, .thirdColumn, .fourthColumn, .fifthColumn  {
    display: flex;
}

.columnOne, .columnTwo, .columnThree, .columnFour {
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    height: 100px;
    width: 100%;
}

.columnFive {
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    height: 100px;
}

.bigZero {
    width: 40%;
}

.bigDot {
    width: 15%;
}

.bigEqual {
    width: 15%;
}

.blueButton {
    background-color: #4A90E2; 
}

.redButton {
    background-color: #FF6F61;
}

.greenButton {
    background-color: #2E8B8B;
}

.active {
    background-color:rgba(255,255,0,1);
}